<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>галерею фотографий</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style=" text-align: center">Добро пожаловать на мою галерею фотографий сделанную с помощью twig</h1>
{%for img in images %}

    <a href="templates/big.php?img={{img.img}}"><img src="img/smal/{{img.img}}" width="300px"></img></a>

{%endfor%}
    
</body>
</html>

